.boards-container
  %h2.boards-title All Boards
  .article_detail_actions
    .dropdown
      = image_tag 'Combined Shape.svg', class: 'board-img'
      .dropdown-content
        %ul 
          %li
            = link_to "Edit", edit_article_path(@article), class: 'dropdown-text1'
          %li
            = link_to "Delete", article_path(@article), data: { method: 'delete'}, class: 'dropdown-text2'
  .board-card
    %p.board-title Brackets
    %br
    %p.board-sbtitle Saving money – is something we would all like.
    %br
    = image_tag 'hawaii.png', class: 'user_avatar'
  .board-add
    %p.add-text
      = link_to "+ Add new borad", new_article_path(@article), class: 'add-btn'