.boards-container
  %h2.boards-title All Boards
  - @articles.each do |article|
    - if current_user.has_written?(article)
      .article_detail_actions
        .dropdown
          = image_tag 'Combined Shape.svg', class: 'board-img'
          .dropdown-content
            %ul
              %li= link_to "Edit", edit_article_path(article), class: 'dropdown-text1'
              %li= link_to "Delete", article_path(article), method: 'delete', data: { confirm: '本当に削除してよろしいですか？' }, class: 'dropdown-text2'
        .board-card
          %p.board-title= article.title
          %br
          %p.board-sbtitle= article.content
          %br
          %p.board-name= article.author_name
          %br
          %p.board-time= article.display_created_at
          .image-tag
            = image_tag article.user.avatar_image, class: 'user_avatar'
        .board-add
          %p.add-text
            = link_to "+ Add new borad", new_article_path, class: 'add-btn'
            
              
