.error-message= flash.now[:error]
.new-container
  %h2.title New Board
  = form_with(model: @article, url: articles_path , method: 'post', local: true, html: { multipart: true } ) do |f|
    .new-image-form
    = f.file_field :image, class: 'file-field'
    .new-title
      = f.label :title, 'Title', class: 'sb-title'
    .new-title-form
      = f.text_field :title, class: 'text'
    .new-title
      = f.label :content, 'Description', class: 'sb-title'
    .new-text-form
      = f.text_area :content, class: 'content-form'
    .actions
      = f.submit "Submit", class: 'btn-primary-new'