.boards-container
  - if user_signed_in? && current_user.has_written?(@article)
    .article_detail_actions
      .dropdown
        = image_tag 'Combined Shape.svg', class: 'board-img-show'
        .dropdown-content
          %ul 
            %li
              = link_to "Edit", edit_article_path(@article), class: 'dropdown-text1'
            %li
              = link_to "Delete", article_path(@article), method: 'delete', data: {confirm: '本当に削除してよろしいですか？'}, class: 'dropdown-text2'

  - if @article.title.length <= 13
    %h2.boards-title-show= @article.title
  - else
    %h2.boards-title-show= @article.title.truncate(13)
    %p.boards-title-full= @article.title


  - if @article.image.attached?
    .image-tag
      = image_tag @article.image, class: 'article-image image-shadow' 
  .board-card
    %br
    %p.board-sbtitle= @article.content
    %br
    %p.board-name-show= @article.author_name
    %br
    %p.board-time-show= @article.display_created_at

  .board-add
    %p.comment-text
      = link_to "+ Add Comment", new_article_path, class: 'comment-btn'