!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TodoList
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{ href: "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet" }

  %body
    %p.notice= notice
    %p.alert= alert
    %header.header
      .header-title
        %p.header-text Boards
        .article_detail_actions
          .dropdown-btn
            .header-img
              = image_tag 'opan.png', class: 'header_avatar'
              .dropdown-wrapper
                %ul
                  %li= link_to "Login", new_user_registration_path, class: 'dropdown-login'
                  %li= link_to "Logout", root_path, class: 'dropdown-logout'
      .line
    .error-message= flash.now[:error]
    = yield
